# Core
sentence-transformers
indic-nlp-library==0.92
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-groq
qdrant-client
ragas

# utilities
pyyaml
python-dotenv

#UI and evaluation
streamlit>=1.32.0

# Observability (for production-grade monitoring)
fastapi
uvicorn[standard]
loguru>=0.7.0

tenacity>=8.5.0
groq