# AI Core
sentence-transformers

# LlamaIndex 2026 Stable Release
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface

# DB & Utilities
qdrant-client
pyyaml
python-dotenv

#UI and evaluation
streamlit>=1.32.0
pandas
tabulate